a:visited, a:link { color:black;text-decoration:none; }
a:hover{text-decoration:underline; }
a.archive_link:visited, a.archive_link:link{color:#8FD2FE;text-decoration:none;}
a.archive_link:hover{color:white;text-decoration:none;}
a.tag_link:visited, a.tag_link:link{color:#5F5F5F;text-decoration:none;font-size:9px}
a.tag_link:hover{text-decoration:none;border-bottom:1px dotted #6F6F6F;font-size:9px;font-weight:normal;}
a.tag_link_right:visited, a.tag_link_right:link{color:#30506F;text-decoration:none;font-size:10px}
a.tag_link_right:hover{text-decoration:none;border-bottom:1px dotted white;font-size:10px}
a.title_link:visited, a.title_link:link{font-size:24px;font-weight:bold;color:#6898CA} a.title_link:hover{border-bottom:1px solid #6898CA}

.admin_col_edit{background-color:#FFF47F;width:40px;text-align:center;}
.admin_col_destroy{background-color:#FF7F7F;width:50px;text-align:center;}
.admin_col_show{background-color:#86FF7F;width:40px; text-align:center;}
.admin_comment_box{border:1px solid #0FAFFF;background-color:#BFE7FF;}
.admin_comment_col_a{font-size:9px;text-align:left}
.admin_input{border:1px solid #CCCCCC; background-color:white;font-family:"Trebuchet MS";}
.admin_post_title{font-weight:bold;}
.admin_post_content{color:grey;font-size:10px;}
.admin_row_a{background-color:#DFF4FF;}
.admin_row_b{background-color:#AFE3FF;}
.admin_spacer{border-bottom:1px dotted black; margin:3px;}
.admin_setting_name{color:black;font-weight:bold;font-size:12px;}
.admin_setting_description{color:#4D6781;font-style:italic;font-size:10px}
.admin_textarea{border:1px solid #537B96; background-color:#BFE7FF;color:#275C7F;font-family:"Trebuchet MS";height:200px;font-size:12px}

.normal_code_block{border:1px dotted #537B96; background-color:#BFE7FF;margin:5px;padding:10px;color:#275C7F;font-size:10px;}
.normal_comment_box{border:1px solid #537B96;}
.normal_comment_col_a{background-color:#BFE7FF;}
.normal_comment_col_b{background-color:#AFE3FF;}
.normal_input{border:1px solid #537B96; background-color:#BFE7FF;font-family:"Trebuchet MS";color:#275C7F;}	
.normal_post_author{font-size:10px;color:black; font-style:italic;font-weight:bold}
.normal_post_content{color:black;font-size:12px;text-align:left}
.normal_post_date{font-size:10px;color:#537B96; font-style:italic;font-weight:bold}
.normal_post_tags{font-size:10px;color:#477F4F}
.normal_post_title{font-weight:bold;font-size:20px}
.normal_right_menu{margin-left:20px}
.normal_right_menu_archive_title{padding-left:15px;padding-top:7px;font-size:16px;font-weight:bold;font-family:arial;color:#3A3A3A}
.normal_right_menu_archive_top{background:url(/images/archive_top.png);background-repeat:no-repeat;width:179px;height:40px;}
.normal_right_menu_archive_middle{background:url(/images/archive_middle.png);background-repeat:repeat-y;padding:4px;}
.normal_right_menu_archive_bottom{background:url(/images/archive_bottom.png);background-repeat:no-repeat;width:179px;height:40px;}
.normal_right_menu_other_title{padding-left:15px;padding-top:7px;font-size:16px;font-weight:bold;font-family:arial}
.normal_right_menu_other_top{background:url(/images/other_top.png);background-repeat:no-repeat;width:179px;height:40px;}
.normal_right_menu_other_middle{background:url(/images/other_middle.png);background-repeat:repeat-y;padding:4px;}
.normal_right_menu_other_bottom{background:url(/images/other_bottom.png);background-repeat:no-repeat;width:179px;height:40px;}
.normal_right_menu_search_title{padding-left:15px;padding-top:7px;font-size:16px;font-weight:bold;font-family:arial;color:#46596D}
.normal_right_menu_search_top{background:url(/images/search_top.png);background-repeat:no-repeat;width:179px;height:40px;}
.normal_right_menu_search_middle{background:url(/images/search_middle.png);background-repeat:repeat-y;padding:4px;}
.normal_right_menu_search_bottom{background:url(/images/search_bottom.png);background-repeat:no-repeat;width:179px;height:40px;}
.normal_right_menu_tags_title{padding-left:15px;padding-top:7px;font-size:16px;font-weight:bold;font-family:arial;color:#4F779F}
.normal_right_menu_tags_top{background:url(/images/tags_top.png);background-repeat:no-repeat;width:179px;height:40px;}
.normal_right_menu_tags_middle{background:url(/images/tags_middle.png);background-repeat:repeat-y;padding:4px;}
.normal_right_menu_tags_bottom{background:url(/images/tags_bottom.png);background-repeat:no-repeat;width:179px;height:40px;}
.normal_right_menu_tools_title{padding-left:15px;padding-top:7px;font-size:16px;font-weight:bold;font-family:arial}
.normal_right_menu_tools_top{background:url(/images/tools_top.png);background-repeat:no-repeat;width:179px;height:40px;}
.normal_right_menu_tools_middle{background:url(/images/tools_middle.png);background-repeat:repeat-y;padding:4px;}
.normal_right_menu_tools_bottom{background:url(/images/tools_bottom.png);background-repeat:no-repeat;width:179px;height:40px;}
.normal_search_bar{background:url(/images/search_bar.png) no-repeat;border:1px solid #8FD2FE; width:75px;color:#3F4B57;padding-left:20px;background-color:white}
.normal_search_button{background:url(/images/search_button.png) no-repeat;width:50px;border:0px;height:20px}
.normal_spacer{width:552px;height:16px;background:url(/images/spacer.png) no-repeat;}
.normal_textarea{border:1px solid #537B96; background-color:#BFE7FF;color:#275C7F;font-family:"Trebuchet MS";height:200px;font-size:12px;overflow:auto}
.normal_input{border:1px solid #537B96; background-color:#BFE7FF;color:#275C7F;font-family:"Trebuchet MS";font-size:12px;}

.blog_bg_top{background:url(/images/blog_bg_top.png) no-repeat; height:112px}
.blog_bg_middle{background:url(/images/blog_bg_middle.png) repeat-y;padding:35px}
.blog_bg_bottom{background:url(/images/blog_bg_bottom.png) no-repeat; height:76px}

.title_box{position:relative;top:30px;left:40px;}
.blog_title{font-size:24px;font-weight:bold;color:#6898CA}
.blog_description{font-size:12px;color:#666666}
.main_background{}
.bottom_box{font-size:10px;color:#5C85AD}

/* ------------ Pagination --------------- */
.pagination{padding:5px;}
.current{border:1px solid #6FC8FF;background-color:#BFE7FF;padding:2px}
.disabled{filter:alpha(opacity=50);-moz-opacity:0.5;-khtml-opacity: 0.5;opacity: 0.5;}

/* ------------ Custom CSS --------------- */
body{font-family:Verdana;color:black;font-size:12px;background-repeat:repeat-x;background-image:url(/images/main_bg.png);background-color:#B2E0FE}
a.quick_links:link, a.quick_links:visited{font-family:"Trebuchet MS";color:#E5E5E5;text-decoration:none;}
a.quick_links:hover{font-family:"Trebuchet MS";color:#00FF00;text-decoration:none;}
.righttable{font-size:16px;}
.topbutton{border:1px solid black;padding:2px;background:url(/images/buttonbg.png);}
.top_links{font-family:"Tahoma";font-size:14px;color:#6D6D6D;padding-right:10px;}
input, textarea{border:1px solid black;}
select{background-color:white;border:1px solid #537B96}
table{border-collapse:collapse}
td{padding:0px;}
fieldset{border:1px solid black;}
form{margin:0px}


.comment_box_a{background:#CCEAFE;border:1px solid white}
.comment_box_b{background:#AADDFE;border:1px solid white}
/* Captcha */
#simple_captcha{}
.simple_captcha_image{}
.simple_captcha_field{}
input#captcha{border:1px solid #537B96; background-color:#BFE7FF;font-family:"Trebuchet MS";color:#275C7F;}
.simple_captcha_label{}

