<%= form_tag :action => "search", :controller => "browse" do%>
	<table>
		<tr>
       <td>
        <%= text_field :search, :search_for, :class => "menu_search_bar" %>
       </td>
       <td>
        <%= submit_tag "Search" , :class => "menu_search_button" %>
       </td>
		</tr>
	</table>
<% end %>
