<div class="normal_right_menu_tools_top">
  <div class="normal_right_menu_tools_title">Tools</div>
</div>
 <div class="normal_right_menu_tools_middle"> 
  <div style="padding-left:20px;color:white;font-family:arial;"> 

  </div>
 </div>
<div class="normal_right_menu_tools_bottom"> </div>
<div style="height:10px"></div>

