<%# 
    You have to include browse/ in the partial path to specify the controller as 'browse'. 
    This is necessary, because this partial will be called over several controllers 
%>
<div style="height:18px"></div>
<%= render :partial => "browse/right_menu_archive" %> 
<%= render :partial => "browse/right_menu_search" %> 
<%#= render :partial => "browse/right_menu_tools" %> 
<%= render :partial => "browse/right_menu_tags" %> 

<%= render :partial => "browse/right_menu_other" %> 

